@import "tailwindcss";


/* SHAKE ANIMATION */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
  100% { transform: translateX(0); }
}
.animate-shake {
  animation: shake 0.45s ease-in-out;
}

/* SUCCESS POP */
@keyframes otpSuccessAnim {
  0% { transform: scale(1); box-shadow: 0 0 0px green; }
  50% { transform: scale(1.1); box-shadow: 0 0 12px rgba(0,255,0,0.6); }
  100% { transform: scale(1); box-shadow: 0 0 0px green; }
}
.animate-otpSuccess {
  animation: otpSuccessAnim 0.4s ease-out;
}
