# Node modules
node_modules/

# Environment files
.env
*.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
*.log


# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
